@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: #ffffff;
  color: #212121;
  line-height: 1.375;
}
.wrapper {
  padding: 0 40px;
}
.product-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 60px;
}
.product-item .product-image img {
  height: 350px;
}
.product-item .product-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.product-text p {
  text-align: left;
}
.product-text-author {
  font-size: 12px;
  font-weight: bold;
}
.product-button {
  display: flex;
  flex-direction: column;
}
.product-button button {
  background: transparent;
  border: none;
  cursor: pointer;
}
.product-button button img {
  height: 30px;
}
.btn-more {
  transform: rotate(90deg);
}

.btn-add {
  transition: 0.3s ease-in;
}
.btn-add:hover,
.btn-add:active {
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.item-button-send{
  width: 60px;
  height: 35px;
  background-color: #212121;
  border: 1px solid #212121;
  border-radius: 5%;
  color: #ffffff;
  cursor: pointer;
  transition: 0.3s ease-in;
  align-items: flex-end;
}
.item-button-send:hover{
background-color: #ffffff;
color: #212121;
}

.card-quantity {
  width: 15px;
  height: 15px;
  position: absolute;
  background-color: #212121;
  border: 1px solid #212121;
  border-radius: 3px;
  color: #ffffff;
  text-align: center;
  font-size: 10px;
  padding-top: 1px;
  margin-top: 25px;
  margin-left: -15px;
}

form{
  display: flex;
  flex-direction: column;
}
input{
  margin-bottom: 10px;
  border: none;
  border-bottom: 1px solid #212121;
}
.submit-btn{
  border: 1px solid;
  background-color: #212121;
  color: #ffffff;
  height: 30px;
  cursor: pointer;
  transition: 0.3s ease;
}
.submit-btn:hover,.submit-btn:active {
  background-color: #ffffff;
  color: #212121;
}

.submit-btn[disabled], .submit-btn[disabled]:hover, .submit-btn[disabled]:active {
  cursor: not-allowed;
  pointer-events: none;
  background-color: rgb(129, 129, 129)
}

label{
  font-weight: 900;
  font-size: 18px;
  margin-bottom: 5px;
}
fieldset{
  margin-bottom: 5px;
}
footer {
  width: 100%;
  border-top: 1px solid #212121;
  margin-top: 60px;
}
.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
}


