.error-mesg-name,
.error-mesg-surname,
.error-mesg-letters-surname,
.error-mesg-space-surname,
.error-mesg-length-street,
.error-mesg-numbers-house,
.error-mesg-numbers-flat {
  display: none;
  color: rgb(219, 60, 60);
}

.input-error {
  border: none;
  border-bottom: 1px solid rgb(219, 60, 60);
  color: rgb(219, 60, 60);
}

form{
    display: flex;
    flex-direction: column;
  }
  input{
    margin-bottom: 10px;
    border: none;
    border-bottom: 1px solid #212121;
  }
  .submit-btn{
    border: 1px solid;
    background-color: #212121;
    color: #ffffff;
    height: 30px;
    cursor: pointer;
    transition: 0.3s ease;
  }
  .submit-btn:hover,.submit-btn:active {
    background-color: #ffffff;
    color: #212121;
  }
  
  .submit-btn[disabled], .submit-btn[disabled]:hover, .submit-btn[disabled]:active {
    cursor: not-allowed;
    pointer-events: none;
    background-color: rgb(129, 129, 129)
  }
  .result{
      display: none;
  }